# Token du bot (Discord Developer Portal > Bot > Reset Token)
DISCORD_TOKEN=

# ID du salon #bienvenue (clic droit sur le salon > Copier l'identifiant)
WELCOME_CHANNEL_ID=

# ID du salon #depart
LEAVE_CHANNEL_ID=
